body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color:lightblue;
}

.red-text {
    color:crimson;
}

.square-bullets {
    list-style-type:square;
}

a:link {
    text-decoration: none;
    background-color:dodgerblue;
    color:darkblue;
    border-style: groove;
}

a:hover {
    background-color:lightseagreen;
}

li:nth-child(odd) {
    background-color:mediumaquamarine;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}