body {
    background-color: bisque;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 1.1rem;
}

header {
    text-align: center;
}

.center {
    text-align: center;
}