html{
    background-color: brown;
  }
  /* sets backrgound color */
  
  *,
  *:before,
  *:after{
    box-sizing: border-box;
  }
  /* adds border-box to specify element width & height */

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 1.1rem;
}
/* Sets the font style and font size of body */

header {
    font-size: 2.9rem;
    color: white;
    text-align: center;
    padding: 110px 100px;
    margin: -32px;
    background-image: url(../images/gibson_59lespaul.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
/* Creates header styles */

nav {
    font-size: xx-large;
}

.navbar li {
    display: inline;
    padding-right: 120px;
    padding-left: 120px;
    border-right: 2px solid black;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

p {
    font-size: 1.3rem;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a {
    color: inherit;
  }


.box {
    background: beige;
    padding: 0px;
    width: 1170px;
    margin: auto;
}

.float img {
    float: left;
    width: 320px;
    margin-right: 2rem;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

input {
    width: 100%;
    padding: 5px 20px;
    margin: 20px 0;
}

form {
    border: 2px solid black;
}

textarea {
    width: 100%;
    height: 120px;
}

button {
    font-size: small;
    padding: 10px 10px;
    background-color: beige;
}

footer {
    text-align: right;
}