/* adds the myerweb tools css reset code to the start of the css stylesheet file */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* border-box css reset */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
}

/* mobile css styles min width: 760px  */

/* applies a deafult master font size and weight to all corresponsing font tags for the mobile/desktop layout */
body {
	font-family: 'Open Sans', sans-serif;
	color: #222;
}

h1 {
	margin: 20px;
	font-size: 45px;
	font-weight: bolder;
}

h2 {
	margin: 10px;
	font-size: 36px;
	font-weight: bold;
	margin: 15px;
}

h5 {
	margin: 15px;
	font-size: 16px;
	font-weight: bold;
}

p {
	margin: 10px;
	font-size: 18px;
	font-weight: normal;
}

hr {
	border-top: 3px solid #c78c06;
}

/* adds a container for the logo in the header section of the body */
.logo-container {
	width: 760px;
	height: 250px;
	background: #c78c06;
	padding: 0;
	border: 15px solid #222;
}

/* adjusts logo to fit in the logo container in the proper spot */
.img-logo {
	padding-top: 1rem;
}

/* creates a container   */
.wrapper {
	width: 760px;
	height: 710px;
	padding: 0;
	margin: 0;
	background-color: #222;
}

/* creates a column for the nav section using flex elements */
nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

/* adjusts nav section to fit in the wrapper for mobile layout */
nav ul li {
	width: 760px;
	height: 100px;
	text-align: center;
	position: relative;
	top: -100px;
}

/* adds color profile to the nav ul li font */
nav ul li a {
	color: #c78c06;
	text-decoration: none;
}

/* removes underline from nav ul li */
a:hover {
	text-decoration: none;
}

/* adjusts li font size and padding for mobile layout */
.menu li {
	font-size: 25px;
	padding: 30px 5px;
}

/* creates mobile searchbar layout */
.searchbar {
	width: 89%;
    padding: 10px;
    margin: 15px;
	font-size: large;
	align-items: center;
	position: relative;
	top: -120px;
}

/* creates mobile css properties for magnifying glass button */
button {
	background-color: #222;
	height: 40px;
	width: 40px;
	position: relative;
	top: -115px;
	left: -20px;
}

/* creates custom background for 'home' li in nav ul */
.home-button {
	background-color: #c78c06;
	color: black;
	padding: 20px;
	margin: 30px;
}

/* adds selected color profile to magnifying glass icon */
.fa-magnifying-glass {
	color: #c78c06
}

/* creates custom mobile background for welcome section */
.welcome {
	background-image: url("../images/main-banner.jpg");
	background-size: cover;
	width: 760px;
	height: 600px;
	position: relative;
}

/* adds mobile css styles for font and background in welcome container */
.welcome-container {
	width: 760px;
	height: 400px;
	color: white;
	background-color: rgba(0,0,0,.6);
	padding: 15px;
	margin: 0;
	position: relative;
	top: 100px;
}

/* adjusts h1 with custom font size and position inside the welcome container */
.welcome-container h1 {
	position: relative;
	font-size: 70px;
	top: 20px;
}

/* aligns position of welcome container paragraph tag */
.welcome-container p {
	position: relative;
	top: 20px;
}

/* creates h3 mock button with custom background and position in welcome container */
.welcome-container h3 {
	width: 280px;
	height: 100px;
	color: #222;
	background-color: #c78c06;
	font-size: 24px;
	margin: 10px;
	padding: 40px;
	position: relative;
	top: 30px;
}

/* adds mobile style and custom color profile to about us container */
.about-us-container {
	width: 760px;
	height: 620px;
	background-color:#ffe6ac;
	padding: 15px;
	margin: 0;
}

/* adjusts about-us img for mobile view */
.about-us-img {
	width: 730px;
	margin: 0;
	position: relative;
}

/* adjusts mobile services section position */
.services {
	position: relative;
	top: 50px;
}

/* adjusts image size and position for mobile layout */
.digital-img {
	width: 720px;
	margin: 15px;
	position: relative;
	top: -10px;
}

/* adds mobile styles with custom background color and position properties */
.transformation-container {
	width: 720px;
	height: 230px;
	background-color:#ffe6ac;
	padding: 15px;
	margin: 15px;
	position: relative;
	top: -45px;
}

/* creates h3 mock button with custom background, color and position in transformation container */
.transformation-container h3 {
	width: 200px;
	height: 70px;
	color: white;
	background-color: #222;
	font-size: 24px;
	margin: 10px;
	padding: 25px;
}

/* adjusts image size and position for mobile layout */
.market-img {
	width: 720px;
	margin: 15px;
	position: relative;
	top: -60px;
}

/* adds mobile styles with custom background color and position properties */
.market-container {
	width: 720px;
	height: 230px;
	background-color:#ffe6ac;
	padding: 15px;
	margin: 15px;
	position: relative;
	top: -95px;
}

/* creates h3 mock button with custom background, color and position in market container */
.market-container h3 {
	width: 250px;
	height: 70px;
	color: white;
	background-color: #222;
	font-size: 24px;
	margin: 10px;
	padding: 25px;
}

/* adjusts image size and position for mobile layout */
.video-img {
	width: 720px;
	margin: 15px;
	position: relative;
	top: -110px;
}

/* adds mobile styles with custom background color and position properties */
.production-container {
	width: 720px;
	height: 230px;
	background-color:#ffe6ac;
	padding: 15px;
	margin: 15px;
	position: relative;
	top: -145px;
}

/* creates h3 mock button with custom background, color and position in production container */
.production-container h3 {
	width: 200px;
	height: 70px;
	color: white;
	background-color: #222;
	font-size: 24px;
	margin: 10px;
	padding: 25px;
}

/* adjusts image size and position for mobile layout */
.web-img {
	width: 720px;
	margin: 15px;
	position: relative;
	top: -160px;
}

/* adds mobile styles with custom background color and position properties */
.webdev-container {
	width: 720px;
	height: 230px;
	background-color:#ffe6ac;
	padding: 15px;
	margin: 15px;
	position: relative;
	top: -195px;
}

/* creates h3 mock button with custom background, color and position in webdev container */
.webdev-container h3 {
	width: 200px;
	height: 70px;
	color: white;
	background-color: #222;
	font-size: 24px;
	margin: 10px;
	padding: 25px;
}

/* adjusts image size and position for mobile layout */
.print-img {
	width: 720px;
	margin: 15px;
	position: relative;
	top: -210px;
}

/* adds mobile styles with custom background color and position properties */
.print-container {
	width: 720px;
	height: 230px;
	background-color:#ffe6ac;
	padding: 15px;
	margin: 15px;
	position: relative;
	top: -245px;
}

/* creates h3 mock button with custom background, color and position in print container */
.print-container h3 {
	width: 200px;
	height: 70px;
	color: white;
	background-color: #222;
	font-size: 24px;
	margin: 10px;
	padding: 25px;
}

/* adds a custom background and font color, and aligns in container */
.ourvision-container {
	background-image: url(../images/vision.jpg);
	background-size: cover;
	width: 760px;
	height: 300px;
	position: relative;
	margin: 0;
	padding: 10px;
	top: -180px;
	color: white
}

/* adjusts h2 position in our vision container */
.ourvision-container h2 {
	position: relative;
	top: 20px;
}

/* adjusts paragraph position in our vision container */
.ourvision-container p {
	position: relative;
	top: 30px;
}

/* creates h3 mock button with custom background and position in our vision container */
.ourvision-container h3 {
	width: 250px;
	height: 100px;
	color: white;
	background-color: #222;
	border: 1px solid #c78c06;
	font-size: 24px;
	margin: 10px;
	padding: 40px;
	position: relative;
	top: 40px;
}

/* adjusts positionm of team section for mobile layout */
.team {
	position: relative;
	top: -100px;
}

/* john doe */
.john-container {
	width: 720px;
	height: 230px;
	background-color:#ffe6ac;
	padding: 15px;
	margin: 15px;
	position: relative;
	top: -45px;
}

.john-img {
	width: 720px;
	margin: 15px;
	position: relative;
	top: -10px;
}

/* bob rite */
.bob-container {
	width: 720px;
	height: 210px;
	background-color:#ffe6ac;
	padding: 15px;
	margin: 15px;
	position: relative;
	top: -95px;
}

.bob-img {
	width: 720px;
	margin: 15px;
	position: relative;
	top: -60px;
}

/* adjusts message form for mobile layout */
form {
	width: 720px;
	margin: 15px;
}

label {
	display: block;
	padding: 0.5rem 0;
}

.input {
	padding: 0.5rem;
}

.textarea {
	padding: 4rem;
}

.input, .textarea {
	display: block;
	width: 100%;
}

#sendbutton {
	background: #222;
	padding: 0.5rem;
	color: #c78c06;
	margin: 0.5rem;
	width: auto;
}

/* aligns hours of operation table to fit in mobile layout */
table {
	width: 720px;
	margin: 15px;
}

th {
	background-color:#ffe6ac;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 20px;
}

/* aligns location container with map for mobile */
.location-container {
	padding: 1rem;
}

/* creates custom map size for mobile layout */
.map {
	width: 720px;
	height: 450px;
}

/* creates mobile footer styles to fit mobile layout */
footer {
	background: #222;
	width: 760px;
	height: 110px;
	padding: 1rem;
	margin: 0;
}

/* adds custom font color and style to h4 inside footer */
footer h4 {
	color:#c78c06;
	justify-content: space-between;
	padding: 0.1rem;
	margin: 1rem;
	justify-content: flex;
}

/* desktop css layout max width: 1200px */

@media screen and (min-width: 760px) {
	.logo-container {
		width: 0;
		height: 0;
	}

	.img-logo {
		margin: 30px;
	}

	nav ul {
		justify-content: center;
	}

	nav ul li {
		width: 150px;
		position: relative;
		right: 80px;
		top: 35px;
	}

	.menu li {
		font-size: 22px;
	}

	.searchbar, button {
		width: auto;
		position: relative;
		left: 900px;
		top: -60px;
	}

	button {
		position: relative;
		top: -56px;
		margin: -20px;
	}

	.home-button {
		background-color: #c78c06;
		color: black;
		padding: 20px;
		margin: 30px;
	}

	.wrapper {
		width: 1200px;
		height: 210px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.welcome {
		width: 1200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.welcome-container {
		width: 1050px;
		height: 420px;
		top: 80px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.about-us-container {
		width: 1200px;
		height: 310px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.about-us-img {
		width: 550px;
		float: left;
		margin-right: 30px;
		margin-left: 10px;
	}

	.ours {
		width: 1200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.services {
		display: grid;
		margin: auto;
		max-width: 1200px;
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas: 
		"dg dg dg mk mk mk"
		"vp vp wb wb pp pp"
	}

	.digital {
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: -50px;
		grid-area: dg;
	}

	.digital h3 {
		width: 540px;
		height: 100px;
		font-size: 24px;
		margin: 10px;
		padding: 40px;
		position: relative;
		top: 20px;
	}

	.digital-img {
		width: 590px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.transformation-container {
		width: 590px;
		height: 300px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.marketing {
		display: block;
		margin-left: auto;
		margin-right: auto;
		grid-area: mk;
	}

	.marketing h3 {
		width: 540px;
		height: 100px;
		font-size: 24px;
		margin: 10px;
		padding: 40px;
		position: relative;
		top: 20px;
	}

	.market-img {
		width: 590px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.market-container {
		width: 590px;
		height: 300px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.videoproduction {
		display: block;
		margin-left: auto;
		margin-right: auto;
		grid-area: vp;
	}

	.videoproduction h3 {
		width: 340px;
		height: 100px;
		font-size: 24px;
		margin: 10px;
		padding: 40px;
		position: relative;
		top: 20px;
	}

	.video-img {
		width: 390px;
		display: block;
		margin-left: 5px;
		margin-right: auto;
	}

	.production-container {
		width: 390px;
		height: 350px;
		display: block;
		margin-left: 5px;
		margin-right: auto;
	}

	.web {
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: 50px;
		grid-area: wb;
	}

	.web h3 {
		width: 340px;
		height: 100px;
		font-size: 24px;
		margin: 10px;
		padding: 40px;
		position: relative;
		top: 38px;
	}

	.web-img {
		width: 390px;
		display: block;
		margin-left: 5px;
		margin-right: auto;
	}

	.webdev-container {
		width: 390px;
		height: 350px;
		display: block;
		margin-left: 5px;
		margin-right: auto;
	}

	.print-plans {
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: 100px;
		grid-area: pp;
	}

	.print-plans h3 {
		width: 340px;
		height: 100px;
		font-size: 24px;
		margin: 10px;
		padding: 40px;
		position: relative;
		top: 38px;
	}

	.print-img {
		width: 390px;
		display: block;
		margin-left: 5px;
		margin-right: auto;
	}

	.print-container {
		width: 390px;
		height: 350px;
		display: block;
		margin-left: 5px;
		margin-right: auto;
	}

	.ourvision-container {
		width: 1200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: -95px;
	}

	.team {
		max-width: 1200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.john-img {
		width: 570px;
	}

	.john-container {
		width: 570px;
		height: 380px;
		float: right;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: -10px;
		left: -45px;
	}

	.bob-img {
		width: 570px;
		float: right;
		position: relative;
		top: -43px;
		left: -30px;
	}

	.bob-container {
		width: 570px;
		height: 380px;
		position: relative;
		top: -43px;
	}

	.info {
		max-width: 1200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.message {
		order: 1;
		align-self: flex-start;
	}

	form {
		width: 570px;
		height: 0px;
	}
	
	.ophours {
		order: 3;
		align-self: center;
	}

	.location-container {
		order: 2;
		align-self: flex-end;
		position: relative;
		top: -97px;
		left: -10px;
	}

	.map {
		width: 600px;
	}

	table {
		width: 1200px;
		margin: 10px;
		justify-content: center;
	}

	footer {
		width: 1200px;
		margin: auto;
	}
}